<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30F6C03C1EC5FC1D000BEADF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30F6C0501EC5FC1D000BEADF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30F6C05B1EC5FC1D000BEADF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
